
body {
  font-family: 'Poppins', sans-serif;
  color: #8776e9;
  background-color: #fefeff;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  padding: 50px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
	gap: 40px;
}

.logo {
  display: flex;
	align-items: center;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #8776e9;
}

.arrow {
  width: 42px;
  height: 36px;
  object-fit: cover;
	
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li a {
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #fa6dcb;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: #8776e9;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fa6dcb;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #8776e9;
  color: #8776e9;
}

.btn-outline:hover {
  border: 2px solid #fa6dcb;
	background-color: transparent;
	color: #fa6dcb;
}
/* Hero */
.hero {
	margin-top: 120px;
}

.hero-content {
  display: grid;
	grid-template-columns: 1fr 1fr;
}

.hero-text {
}

.hero-text h1 {
  font-size: 80px;
	font-weight: 700;
}

.hero-text .highlight {
  color: #fa6dcb;
}

.hero-text p {
  font-size: 18px;
  margin: 48px 0;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-image img{
	width: 100%;
}

/* Brands */
.brands {
	margin-top: 50px;
  padding: 50px 0;
  text-align: center;
}

.brands-title {
  font-size: 24px;
	font-weight: 600;
  margin-bottom: 42px;
}

.brands-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.brands-logos img {
  object-fit: contain;
}

.section-title {
	font-size: 64px;
	font-weight: 600;
  margin-bottom: 40px;
}

/* Portfolio */
.portfolio {
}

.portfolio-item {
	margin-top: 200px;
  display: grid;
	grid-template-columns: 1fr 1fr;
}

.portfolio-text {
  font-size: 18px;
}

.portfolio-text p {
  margin-bottom: 40px;
}

.portfolio-links {
	display: flex;
}

.portfolio-links a {
	margin-right: 40px;
	border-bottom: 1px solid #8776e9;
}

.portfolio-links img {
	max-width: 24px;
	height: 24px;
	margin-right: 6px;
}

.portfolio-links a:hover {
	border-bottom: 2px solid #8776e9;
	text-shadow: 1px 1px 1px #8776e9;
	transition: linear 0.2s;
}

.portfolio-item img {
  width: 100%;
}

.section-label {
	color: #fa6dcb;
}

/* Services */
.services {
  padding: 200px 0;
  text-align: center;
}

.services-desc {
	width: 80%;
	margin: 40px auto 80px;
	font-size: 18px;
}

.services-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	height: 560px;
  background: #e5e5fa;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
	font-size: 18px;
}

.service-card img {
	width: 310px;
}

.service-card h3 {
  font-size: 30px;
}

.service-card a {
  display: inline-block;
  color: #8776e9;
	border: 1px solid #8776e9;
	border-radius: 5px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

.service-card a:hover {
	color: #e5e5fa;
	background-color: #8776e9;
}

/* Testimonials */
.testimonials {
  padding: 60px 0;
}
.testimonials-title{
  text-align: center;
  margin-bottom: 120px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: ;
}

.testimonial-featured {
  display: flex;
}

.testimonials-blockquote {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
}

.testimonials-blockquote img {
  width: 75px;
}

.testimonials-blockquote img:last-of-type {
  margin-left: auto;
}

.trophy {
  width: 40%;
}

.testimonial-card {
  padding: 20px;
  display: flex;
  gap: 20px;
  line-height: 1.6;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2);
}

.testimonial-card-content {
  color: #3f3d56;
}

.highlight {
  font-weight: 700;
}

.name {
  color: #8776e9;
}

.testimonials-grid {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  color: #3f3d56;
  font-size: 18px;
  gap: 20px;
}

.testimonial img {
  width: 70px;
}

/* CTA */
.cta {
  padding: 120px 0;
  text-align: center;
}

.cta-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-inner img {
  width: 50%;
}

.cta-inner a {
  width: 200px;
}

/* Footer */
.footer {
  background-color: #f3f3fe;
  padding: 60px 20px 30px;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-brand .logo {
  font-size: 20px;
  color: #8776e9;
  font-weight: bold;
}

.footer-brand p {
  margin: 10px 0;
}

.footer-links ul,
.footer-location,
.footer-contact {
  font-size: 14px;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links h4,
.footer-location h4,
.footer-contact h4 {
  margin-bottom: 10px;
  color: #3f3d56;
}

.social a img {
  width: 20px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #999;
}

